<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factura</title>
</head>
<body>
    <h1>Factura de <i>{{ nombre }}</i></h1>
    <pre>
        CIF: {{ cif }}
        Direccion: {{direccion}}
        Provincia: {{provincia}}
        Código Postal: {{codigoPostal}}
        País: {{pais}}
        Persona de contacto: {{personaContacto}}
        Email: {{email}}
        Teléfono: {{telefono}}
    </pre>
    <pre>   <u>Factura</u></pre>
    <pre>{{linea}}</pre>

</body>
</html>